

/* ═══════════════ [ESTILO PERSONALIZADO] ═══════════════ */

.agregarProducto{ font-size: 14px; padding: 2px 5px; }

.dataTables_length, .dataTables_filter, .dataTables_info{ font-size: 14px; }
.page-link { font-size: 12px; }

.carrito-scroll {
    overflow-y: auto;
    max-height: 45vh;
    border: 1px solid rgb(190, 190, 190);
}

/* Selectores (Select2)*/
.select2-results__options { max-height: 70vh !important; }



@media (max-width: 575.98px) {

    h3{ font-size: 15px;}
    .table td { font-size: 12px; }
    .table thead th{ font-size: 14px; }
    .agregarProducto{ font-size: 10px; padding: 2px 3px; }
    #btnAbrirCaja, #btnCerrarCaja{ font-size: 10px; padding: 2px 3px; }

}
